mat-form-field {
    display: block;
    font-size: 11.5pt;
    width: 300px;
    margin-bottom: 5px;
}

mat-form-field mat-icon {
    cursor: pointer;
}

button {
    width: 300px;
    height: 50px;
    margin-top: 10px;
    font-size: 13pt;
    background: rgb(50, 56, 146);

}

mat-spinner {
    display: inline-block;
    margin-left: 10px;
}

mat-card {
    padding: 30px;
    width: 700px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(10, 19, 78, 0.9);
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#form-frame {
    display: flex;
    justify-content: center;
}