<h1>{{ testModel ? testModel.name : '' }}</h1>
<mat-spinner *ngIf="!testModel"></mat-spinner>
<ol>
    <ng-container *ngFor="let question of testModel.questions">
        <mat-card>
            <li>
                <app-question [questionModel]="question"
                                (answerChosen)="onAnswerChange($event, question)">
                </app-question>
            </li>
        </mat-card>
    </ng-container>
</ol>
<button mat-raised-button color="basic" (click)="finishTest()">Finish Test</button>