<div *ngIf="!notFound; else onlyRouter" id="wrapper">
    <header>
        <h1><a routerLink="/">Test System</a></h1>
        <nav>
            <ul class="no-select">
                <li><a class="nav-btn" routerLink="/tests">Tests</a></li>
                <li><a class="nav-btn" routerLink="/contacts">Contacts</a></li>
                <li><a class="nav-btn" routerLink="/account">My Account</a></li>
                <li *ngIf="isAdmin"><a class="admin-nav-btn" routerLink="/editor">Test Editor</a></li>
                <!-- <li *ngIf="isAdmin"><a class="admin-nav-btn" routerLink="/users">Users</a></li> -->
            </ul>
        </nav>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer>
        <p>&copy; Andrew Makoviichuk, 2020</p>
    </footer>
</div>
<ng-template #onlyRouter>
    <router-outlet></router-outlet>
</ng-template>