#wrapper {
    background: rgb(250, 250, 250);
}

header h1 {
    font-size: 29pt;
    font-weight: bolder;
    padding: 60px 50px;
}

header a {
    cursor: pointer;
}

header, footer {
    background: rgb(19, 8, 82);
}

footer {
    min-height: 100px;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer p {
    color: white;
    margin-right: 30px;
    font-size: 12pt;
}

nav {
    background: rgb(9, 4, 56);
}

main {
    padding: 30px 10%; 
    min-height: 700px;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.nav-btn {
    display: block;
    text-align: center;
    padding: 15px 30px;

    font-size: 16pt;
    font-weight: 500;
}

.nav-btn:hover, .nav-btn:active {
    color: rgb(9, 4, 56);
    background: rgb(250, 250, 250);
}