#wrapper {
    background: url(../assets/bg.jpg) no-repeat fixed;
    background-size: cover;
}

header h1 {
    font-size: 29pt;
    font-weight: bolder;
    padding: 60px 50px;
}

header, footer {
    background: rgba(18, 71, 216, 0.5);
}

footer {
    height: 150px;
}

nav {
    background: rgb(50, 30, 226);
}

main {
    padding: 30px;
    min-height: 500px;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.nav-btn {
    display: block;
    text-align: center;
    width: 130px;
    padding: 15px 0;

    font-size: 16pt;
    font-weight: 500;
}

.nav-btn:hover, .nav-btn:active {
    color: rgb(50, 30, 226);
    background: white;
}