<div id="wrapper">
    <header>
        <h1><a routerLink="/">Test System</a></h1>
        <nav>
            <ul class="no-select">
                <li><a class="nav-btn" routerLink="/tests">Tests</a></li>
                <li><a class="nav-btn" routerLink="/contacts">Contacts</a></li>
                <li><a class="nav-btn" routerLink="/account">My Account</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer>

    </footer>
</div>