<div id="form-frame">
    <mat-card>
        <form [formGroup]="loginForm" (ngSubmit)="submitCredentials()">
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Username</mat-label> 
                <input matInput type="text" formControlName="username">
                <mat-error *ngIf="f.username.hasError('required')">
                    Username is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Password</mat-label> 
                <input matInput type="{{ hidePassword ? 'password' : 'text' }}" formControlName="password">
                <mat-icon class="no-select" (click)="changeVisibility()" matSuffix>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                <mat-error *ngIf="f.password.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <button mat-raised-button [disabled]="loading">
                Log In
                <mat-spinner *ngIf="loading" matSuffix diameter="30" color="accent"></mat-spinner>
            </button>
        </form>
        <p>Don't have an account? <a routerLink="/register" [queryParams]="{ returnUrl: returnUrl }">Register now</a></p>
    </mat-card>
</div>