mat-radio-button, mat-checkbox {
    display: block;
    margin-top: 5px;
    width: 0;
}

ol {
    padding: 0;
}

li {
    margin: 3px 0 3px 15px;
    font-weight: normal;
    font-size: 10pt;
}

h4 {
    font-weight: 500;
    font-size: 11pt;
}