mat-chip {
    width: 300px;
    height: 100px;
    background-color: rgba(35, 46, 145, 0.5);
    text-align: center;
    font-size: 14pt;
    cursor: pointer;
}

mat-chip-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

div {
    width: 100%;
}