<div id="tests-wrapper">
    <mat-spinner *ngIf="!tests"></mat-spinner>
    <ng-container *ngFor="let test of tests">
        <mat-card matRipple (click)="openTest(test.id)">
            <div class="no-select">
                <strong>{{ test.name }}</strong>
                <br>
                ({{ test.questions.length }} questions)
                <div *ngIf="test.category">
                    <hr>
                    <em>{{ test.category }}</em>
                </div>
            </div>
        </mat-card>
    </ng-container>
</div>