mat-card {
    border-radius: 30px;
    width: 250px;
    height: 80px;
    font-size: 14pt;
    background: rgba(11, 7, 66, 0.9);
    margin: 10px;

    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
}

#admin-panel button {
    font-size: 12pt;
}

#tests-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

div.no-select {
    width: 100%;
}